/* applies to anything of class "example-class-selector" */
/*.example-class-selector {
	margin-top: 2em;

}
*/

.project {
    margin-left: -10px;
    /*background-color: blue;*/
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted red;
     padding: 20px;
     background-color: #B4D4F0;
     
}

.jumbotron-container {
	position: relative;
     margin-top: 50px;
     margin-bottom: 20px;
     padding: 20px;
     margin-left: 75px;
}

p{
    font-family: Times New Roman;
    font-size: 14px;

}

.img-fluid{
    margin-left: 150px;
}

h1 {
    font-family: Times New Roman;
    font-size:40px;
    color: #DB81DA;

}

a {
    margin-left: 10px;
}