/* applies to anything of class "example-class-selector" */
/*.example-class-selector {
	margin-top: 2em;

}
*/

.project {
    margin-left: -10px;
    /*background-color: blue;*/
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted red;
     padding: 20px;
     background-color: #78CCA2;
     
}



.jumbotron-container {
	position: relative;
     margin-top: 50px;
     margin-bottom: 20px;
     padding: 20px;
     margin-left: 75px;
}

p{
    font-family: Times New Roman;
    font-size: 20px;
    color: #000000;
}


h1 {
    font-family: Times New Roman;
    font-size:40px;
    color: #CC78A2;

}

h2 {
    font-family: Times New Roman;
    font-size:40px;
    color: #CC78A2;

}
h4 {
    font-family: Times New Roman;
    font-size:30px;
    color: #CC78A2;

}
a {
    margin-left: 10px;
    color:blue;
}
.bottom-contact{
    margin-left: 200px;
}
